.login-container,
.register-container {
    padding-bottom: 5em;
    background: rgba(255, 255, 255, 0.22);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 46px;
    margin: 10em 7.5em;

    @include small-desktop {
        margin: 5em 7.5em 10em 7.5em;
    }
    @include tablet {
        margin: 5em 2.313em 10em 2.313em;
    }

    @include mobile {
        margin: 3.75em 2.125em 7.5em 2.125em;
    }

    @include mobile-max {
        margin: 2.5em 1.25em 5em 1.25em;
    }

    h1 {
        margin-top: 2.3em;
        margin-bottom: 1.15em;
        text-align: center;
        color: $black;

        @include mobile {
            margin-top: 2.2em;
        }

        @include mobile-max {
            margin: 1em auto;
            width: auto;
        }
    }

    .login-form {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;

        @include mobile {
            padding: 0 1.25em;
            width: auto;
        }

        @include mobile-max {
            padding: 0 1.25em;
            width: auto;
        }
    }

    .remind {
        width: max-content;
        margin: 2.5em auto;
        font: bold 14px/18px 'ArtegraSoft-Medium', sans-serif;
        border-bottom: 1px solid $gray-input;
        color: $gray-input;
        cursor: pointer;
    }

    .button-container {
        width: max-content;
        margin: 0 auto;
    }

    &.registr {
        .button-container {
            margin-top: 2.5em;
        }
    }

    .error {
        display: block;
        margin-bottom: 1.25em;
        color: $red;
        font: bold 14px/18px 'ArtegraSoft-Medium', sans-serif;
    }

    .cross {
        position: absolute;
        top: 35px;
        right: 35px;
        cursor: pointer;

        @include mobile {
            top: 25px;
            right: 25px;
        }

        @include mobile-max {
            top: 15px;
            right: 15px;
        }
    }
}

.form-control {
    width: 100%;
    padding: 1.25em 0;
    margin-bottom: 1.25em;
    background: #F9F9F9;
    font: bold 14px/18px 'ArtegraSoft-Medium', sans-serif;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    text-align: center;
    border-radius: 46px;
    color: $gray-input;
    outline: none;

    &.error-field {
        color: $red;
        border-color: $red;
    }
}

.remind-password {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;

    @include mobile {
        padding: 0 1.25em;
        width: auto;
    }

    @include mobile-max {
        padding: 0 1.25em;
        width: auto;
    }

    p {
        font: 14px/20px 'Inter-Regular', sans-serif;
        color: $black;
        margin-bottom: 2.5em;
    }
}

.success-register {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;

    .success-message {
        display: flex;
        justify-content: center;
        padding: 10em 0 5em 0;

        .gradient-h1 {
            margin: 0;

        }
    }
}
