.login-container {
    padding-bottom: 5em;
    background: rgba(255, 255, 255, 0.22);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 46px;

    h1 {
        margin-top: 2.3em;
        margin-bottom: 1.15em;
        text-align: center;
    }

    .login-form {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;

        .form-group {
            .form-control {
                width: 100%;
                padding: 1.25em 0;
                margin-bottom: 1.25em;
                background: #F9F9F9;
                font: bold 14px/18px 'ArtegraSoft-Medium', sans-serif;
                border: 1px solid #EEEEEE;
                box-sizing: border-box;
                text-align: center;
                border-radius: 46px;
                color: $gray-input;
                outline: none;
            }
        }
    }

    .remind {
        width: max-content;
        margin: 2.5em auto;
        font: bold 14px/18px 'ArtegraSoft-Medium', sans-serif;
        border-bottom: 1px solid $gray-input;
        color: $gray-input;
    }

    .button-container {
        display: flex;
        justify-content: center;
    }
}
