.cases {
    width: auto;

    @include mobile {
        height: 650px;
    }

    @include mobile-max {
        height: 650px;
    }

    h1 {
        margin-top: 4.6em;
        text-align: center;
        color: $black;
    }

    &-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 2.5em;

        @include tablet {
            margin-top: 1.75em;
        }

        @include mobile {
            margin-top: .925em;
        }

        @include mobile-max {
            margin-top: .925em;
        }

        .item {
            flex: 0 0 32.2%;
            margin-bottom: 2.5em;
            padding: 2.5em 1.125em;
            background: rgba(255, 255, 255, 0.22);
            border: 1px solid #EEEEEE;
            border-radius: 46px;
            box-sizing: border-box;
            cursor: pointer;

            @include tablet {
                flex: 0 0 49%;
                margin-bottom: 1.25em;
            }

            @include mobile {
                flex: none;
                margin-bottom: 1.25em;
            }

            @include mobile-max {
                flex: none;
                margin-bottom: 1.25em;
            }

            &-image {
                max-width: 340px;
                margin-bottom: 2.5em;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            &-audience-wrapper {
                display: flex;
                flex-wrap: wrap;
                margin-top: .313em;

                .stats {
                    margin-right: 3px;
                    font: 14px/20px "Inter-Regular", sans-serif;
                    color: $black;
                }
            }

            &-wrapper-indicators {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 2.5em;
                border-top: 1px solid #EEEEEE;

                .indicator {
                    position: relative;
                    margin: .938em .938em .938em 0;
                    flex: 0 0 43%;

                    @include small-desktop {
                        flex: 0 0 40%;
                    }

                    @include footer-small-medium {
                        flex: 0 0 38%;
                    }

                    @include tablet {
                        flex: 0 0 38%;
                    }

                    @include mobile {
                        flex: 0 0 38%;
                    }

                    @include mobile-max {
                        flex: 0 0 38%;
                    }

                    &:nth-child(2n) {
                        margin-left: 0;
                        padding-left: .938em;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 1px;
                            height: 100%;
                            background: #EEEEEE;
                        }
                    }

                    &:nth-child(1),
                    &:nth-child(2) {
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: -15px;
                            right: 0;
                            width: 100%;
                            height: 1px;
                            background: #EEEEEE;
                        }
                    }

                    &:nth-child(2) {
                        &:after {
                            width: 99%;
                            right: -15px;
                        }
                    }

                    &-title {

                    }

                    &-value {
                        font: 600 24px/33px "Inter-SemiBold";

                        @include footer-small-medium {
                            flex: 0 0 38%;
                            font-size: 21px;
                        }

                        @include tablet {
                            font-size: 18px;
                        }

                        @include mobile {
                            font-size: 18px;
                        }
                        @include mobile-max {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}